.form-control {
  border: 2px solid #9AAB21;
  border-radius: 0;
  padding: 34px 50px;
  font-family: $lato;
  font-style: italic;
  font-size: 18px;
  color: #C5C8C9;
  letter-spacing: 0px;
}

.form-group {
  width: 100%;
  .form-control {
    width: 100%;
  }
}
