

.header-wrap {
  background-image: url(../img/gold-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: auto;
  padding-top: 220px;
  padding-bottom: 290px;
}

.about-us-wrap {
  padding-bottom: 70px;
  text-align: center;
  .container {
    width: 80%;
    @include mq(tablet-up) {
      max-width: 800px;
    }
  }
  h5 {
    color: #2E2E2E;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
  }
  p {
    margin-bottom: 40px;
  }
}

.news {
  padding: 80px 0 90px 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.10);
  text-align: center;
  h5 {
    font-family: $open-sans;
    font-weight: bold;
    font-size: 16px;
    color: #2E2E2E;
    letter-spacing: 6.85px;
    line-height: 2;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid #DEDEDE;
  }
}


.news {
  height: 684px;
  h5 {
    margin-bottom: 50px;
  }
  h1 {
    font-family: $open-sans;
    font-weight: 400;
    font-size: 64px;
    color: #2E2E2E;
    letter-spacing: 0px;
    text-transform: none;
    position: relative;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
    @include mq(mobile-only) {
      font-size: 40px;
      width: 70%;
    }
    &:before {
      position: absolute;
      content: '"';
      left: -30px;
      color: #E9A513;
    }
    &:after {
      position: absolute;
      content: '"';
      right: -30px;
      color: #E9A513;
    }
  }
  p {
    width: 80%;
    margin: auto;
    margin-bottom: 65px;
    @include mq(tablet-up) {
      width: 50%;
    }
  }
}

.coffee-origin {
  padding: 120px 0px 50px 0px;
  h5 {
    color: #2E2E2E;
    font-weight: bolder;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    @include mq(desktop-up) {
      margin-bottom: 100px;
    }
  }
  .sub-quote {
    max-width: 75%;
    margin: 60px auto;
    text-align: center;
  }
  .big-map {
    background-image: url(../img/big-map.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 694px;
    .box-padding {
      text-align:center;
    }
  }
  .content-1-box {
    margin-top: 17px;
    display: inline-block;
    padding: 30px 35px;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 2px 60px 0px rgb(233, 165, 19);

    p {
      margin-bottom: 30px;
    }
  }

}


.testimonials {
  background-image: url('../img/pattern-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 230px;
  text-align: center;
  padding-bottom: 160px;
  h5 {
    border-bottom: none;
  }

  .swiper-wrapper {
    img {
      max-width: 242px;
      margin-bottom: 30px;
    }
    .quote-text {
        font-family: $open-sans;
        font-weight: 400;
        font-size: 50px;
        color: #2E2E2E;
        letter-spacing: 0px;
        text-transform: none;
        position: relative;
        margin-bottom: 30px;
        @include mq(mobile-only) {
          font-size: 40px;
        }
    }
  }
}



.products-wrapper {
  padding-top: 80px;
  .col-sm-4 {
    box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.10);
  }
  .inner-padding {
    padding: 30px 30px 0 30px;
  }
  .header-100 {
    margin-bottom: 100px;
    text-transform: uppercase;
  }
  .map-header {
    font-family: $open-sans;
    font-weight: 400;
    font-size: 24px;
    color: #2E2E2E;
    letter-spacing: 10.28px;
    margin: 33px 0 25px 0;
  }
  h5 {
    text-transform: uppercase;
  }
  p {
    text-align: left;
    margin: 40px 0 70px 0;
  }
}
