<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700 |Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar" role="navigation">
      <div class="container">
        <div class="top-nav clearfix">
          <div class="contact-info">Contact Us At 941-342-3223 (From : 6am-5pm)</div>
          <div class="location-info">1354 Jemison Rd, Caledonia, MS, 39740 </div>
        </div>
        <div class="bottom-nav">
          <ul class="list-unstyled list-inline">
            <li class="right-border"><a href="#">HOME</a></li>
            <li class="right-border"><a href="#">ABOUT US</a></li>
            <li class="nav-logo-wrap"><a class="nav-logo" href="#">GOLD & BLACK<a class="logo-bottom-text" href="#">COFFEE ROASTERS</a></a></li>
            <li class="left-border"><a href="#">PRODUCTS</a></li>
            <li class="left-border"><a href="#">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="header-wrap">
      <div class="container">
        <h1>Gold & Black</h1>
        <h4>Coffee Roasters</h4>
      </div>
    </section>
    <section class="map-wrap">
      <div class="container">
        <div class="left-box-wrap">
          <h5>COSTA RICAN</h5>
          <h2>CUMBRES <br>DEL POAS</h2>
          <h5>BLACK HONEY <br>MICRO LOT COFFEE</h5>
        </div>
        <div class="right-box-wrap">
          <h5>STARTING AT</h5>
          <h1>$26<span>.00</span></h1>
          <a class="button-buy" href="#">BUY NOW</a>
        </div>
      </div>
    </section>
    <section class="about-us-wrap">
      <div class="container">
        <h5 class="header-main">About Us</h5>
        <p> Gravida nulla odio faucibus, felis nibh magna dui mauris eget varius, tortor nam, nec consequat ipsum dictum pharetra scelerisque. Sed libero in, tempor quis, rutrum ac pulvinar maecenas in sollicitudin. Tellus elit pellentesque nec a, aute hendrerit wisi.</p>
        <p> Gravida nulla odio faucibus, felis nibh magna dui mauris eget varius, tortor nam, nec consequat ipsum dictum pharetra scelerisque. Sed libero in, trit wisi.</p>
      </div>
    </section>
    <section class="news">
      <h5 class="header-main">Recent News</h5>
      <h1 class="test">Voted best coffee shop in Palm Beach County!</h1>
      <p>Quisque ultricies arcu curabitur wisi massa ligula. Pede libero, urna nec dapibus, pede ultrices mauris suspendisse enim sed diam, et nec nunc felis justo suscipit, interdum.</p>
      <a class="button-buy" href="#">BUY NOW</a>
    </section>
    <section class="coffee-origin">
      <h5>WHERE OUR COFFEE COMES FROM</h5>
      <div class="big-map">
        <div class="box-padding">
          <div class="content-1-box">
            <h5 class="header-main">Ethiopia</h5>
            <p>
              varius, tortor nam, nec consequat <br> ipsum dictum pharetra scelerisque.<br> Sed libero in, tempor quis, rutrum ac <br> pulinar maecenas in sollicitudin.
            </p>
            <a href="#" class="button-buy">View Selection</a>
          </div>
        </div>
      </div>
      <p class="sub-quote">Quisque ultricies arcu curabitur wisi massa ligula. Pede libero, urna nec dapibus, pede ultrices mauris suspendisse enim sed diam, et nec nunc felis justo suscipit, interdum </p>
    </section>

    <section class="testimonials">
      <h5 class="header-main black-header">TESTIMONIALS</h5>
      <div class="swiper-main-wrapper">
        <div class="container">
          <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="col-sm-4"><img src="img/man-1.png">
                    <h5 class="header-main black-header">JOSH WICNESTER</h5>
                  </div>
                  <div class="col-sm-7 col-sm-offset-1">
                    <h1 class="quote-text">"The same great coffee every single time..."</h1>
                    <p>
                      “Gravida nulla odio faucibus, felis nibh magna dui mauris eget varius, tortor nam, nec consequat ipsum dictum pharetra scelerisque. Sed libero in, tempor quis, rutrum ac pulinar maecenas in sollicitudin. Tellus elit pellentesque nec”
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="products-wrapper text-center">
      <h5 class="header-main black-header header-100">Top Selling Products</h5>
      <div class="three-section-wrap">
        <div class="container">
          <div class="col-sm-4">
            <div class="inner-padding">
              <h5 class="margin-reset">Organic</h5>
              <div class="honduras-map-wrap">
                <h4 class="map-header">HONDURAS MARCALA</h4>
                <h5 class="margin-reset">FAIR TRADE COFFEE</h5>
                <p>mauris suspendisse enim sed diam, et nec nunc felis justo suscipit,</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </seciton>



    <script src="js/lib.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js"></script>
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        loop: true
    });
    </script>
  </body>
</html>
